<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Customer Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <header class="logo-container">
        <h1><a asp-controller="Home" asp-action="CustomerDashboard" style="text-decoration:none; color:inherit;">Contoso Health</a></h1>
    </header>

    <nav class="navbar">
        <div class="nav-left">
            <div class="dropdown">
                <button class="butn">My Cart</button>
                <div class="dropdown-content">
                
                    <a asp-controller="Cart" asp-action="Index","Cart">View Cart</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="butn">My Orders</button>
                <div class="dropdown-content">
                    <li class="nav-item">
                        <button class="butn" onclick="location.href='@Url.Action("MyOrders", "Order")'">My Orders</button>

                    </li>

                </div>
            </div>
        </div>

        <div class="nav-right">
            <button class="butn" onclick="location.href='@Url.Action("Profile", "Home")'">Profile</button>
            <button class="butn" onclick="location.href='@Url.Action("Logout", "Home")'">Logout</button>

        </div>
    </nav>

    <main class="dashboard">
        @RenderBody()
    </main>
    @RenderSection("Scripts",required: false)
</body>
</html>

